.upvoteButton {
  width: fit-content;
  color: var(--text-white-100);
  margin-top: 1rem /* 16px */;
  margin-bottom: 1rem /* 16px */;
  padding: 0.5rem; /* 8px */

  background-color: var(--text-purple-dark);
  cursor: pointer;
  outline: 0;
  border: 0;

  font-size: 1rem;
}

.upvoteButton:hover {
  background-color: var(--text-purple);
}
